.jumbotron {
  background-color: #f4f71b;
  color: #242311;
  margin-top: 50px;
  margin-bottom: 5px; }

.img-fluid {
  width: 100%;
  height: 300px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f4f71b;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
