.jumbotron {
  background-color: #a3ffac;
  color: #e31d07;
  margin-top: 50px;
  margin-bottom: 6px;
}
.img-fluid {
  width: 100%;
  height: 300px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa29;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
